In [1]:
import pandas as pd
import numpy as np

In [2]:
scout_car = pd.read_csv('Step 1 - Cleaned v2.csv')

# Remove leading/trailing spaces and newlines
scout_car = scout_car.applymap(lambda x: x.strip() if isinstance(x, str) else x)

scout_car

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_95861/2404487787.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  scout_car = scout_car.applymap(lambda x: x.strip() if isinstance(x, str) else x)

,URL,make_model,Short Description,Body Type,Price,VAT,KM,Registration (YYYYMM),Horsepower (kW),Type,...,Lane departure warning system,Night view assist,Passenger-side airbag,Power steering,Rear airbag,Side airbag,Tire pressure monitoring system,Traction control,Traffic sign recognition,Xenon headlights
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,56013.0,201601.0,66.0,Used,...,0,0,1,1,0,1,1,1,0,1
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,80000.0,201703.0,141.0,Used,...,0,0,1,1,0,1,1,1,0,1
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,83450.0,201602.0,85.0,Used,...,0,0,1,1,0,1,1,1,0,0
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,NaN,73000.0,201608.0,66.0,Used,...,0,0,1,1,0,1,1,0,0,0
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,NaN,16200.0,201605.0,66.0,Used,...,0,0,1,1,0,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200CV EDC Executive 4Control,Van,39950,VAT deductible,NaN,NaN,147.0,New,...,1,0,1,1,1,1,1,1,1,0
15915,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"TCe 225 EDC GPF LIM Deluxe Pano,RFK",Van,39885,VAT deductible,9900.0,201901.0,165.0,Used,...,1,0,1,1,0,1,1,1,1,0
15916,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200 EDC Initiale Paris Leder LED Navi...,Van,39875,VAT deductible,15.0,201903.0,146.0,Pre-registered,...,1,0,1,1,0,1,0,1,1,0
15917,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",Van,39700,VAT deductible,10.0,201906.0,147.0,Pre-registered,...,0,0,1,1,0,1,1,0,1,0
15918,https://www.autoscout24.com//offers/renault-es...,Renault Espace,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,Van,40999,VAT deductible,NaN,201901.0,165.0,Demonstration,...,0,0,1,1,0,1,1,0,1,0

# Previous Owners

In [3]:
scout_car['Previous Owners'] = scout_car['Previous Owners'].astype(str).str.extract(r'(\d+)').astype(float).astype('Int64')
scout_car['Previous Owners'].fillna(0, inplace=True)
scout_car[['Previous Owners']]

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_95861/734375205.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  scout_car['Previous Owners'].fillna(0, inplace=True)

       Previous Owners
0                    2
1                    0
2                    1
3                    1
4                    1
...                ...
15914                0
15915                1
15916                1
15917                0
15918                1

[15919 rows x 1 columns]

# Inspection New

In [4]:
scout_car['Inspection new'] = scout_car['Inspection new'].replace('Yes', 1)
scout_car['Inspection new'].fillna(0, inplace=True)
scout_car['Inspection new'] = scout_car['Inspection new'].astype(int)

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_95861/3326818653.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  scout_car['Inspection new'] = scout_car['Inspection new'].replace('Yes', 1)
/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_95861/3326818653.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  scout_car['Inspection new'].fillna(0, inplace=True)

In [5]:
scout_car.isnull().sum()[scout_car.isnull().sum() > 0]

Short Description                     46
Body Type                             60
VAT                                 4513
KM                                  1024
Registration (YYYYMM)               1597
Horsepower (kW)                       88
Type                                   2
Next Inspection (YYYYMM)           12384
Warranty (months)                  13123
Offer Number                        3175
First Registration                  1597
Body Color                           597
Paint Type                          5772
Body Color Original                 3774
# of Doors                           212
# of Seats                           977
Model Code                         10941
Displacement (cc)                    496
Cylinders                           5680
Weight (kg)                         6974
Drive chain                         6858
CO2 Emission (g CO2/km (comb))      2436
Emission Class                      3628
Emission Label                     11974
Gears                               4712
Country version                     8333
Upholstery Material                 3720
Upholstery Color                    5861
Consumption (L /100 km) comb        2883
Consumption (L /100 km) city        3272
Consumption (L /100 km) country     3212
dtype: int64

In [6]:
scout_car.dtypes

URL                                object
make_model                         object
Short Description                  object
Body Type                          object
Price                               int64
                                    ...
Side airbag                         int64
Tire pressure monitoring system     int64
Traction control                    int64
Traffic sign recognition            int64
Xenon headlights                    int64
Length: 134, dtype: object

# Columns not necessary or irrelevant in machine learning?

These columns are complicated strings.

'URL'

'Short description'

'Offer number'

'Description' - But maybe I could use sentiment analysis and assign a numeric score accordingly? Would have to translate though, how reliable would translations be? I'll drop it for now but may come back to reincorporate it later.

In [7]:
scout_car.drop('URL', axis=1, inplace=True)
scout_car.drop('Short Description', axis=1, inplace=True)
scout_car.drop('Offer Number', axis=1, inplace=True)

# Have to convert this column temporarily

In [8]:
scout_car['Next Inspection (YYYYMM)'] = scout_car['Next Inspection (YYYYMM)'].astype(str)

In [9]:
print(scout_car['Next Inspection (YYYYMM)'].dtype)

object

In [10]:
scout_car[['Next Inspection (YYYYMM)']]

      Next Inspection (YYYYMM)
0                     202106.0
1                          nan
2                          nan
3                          nan
4                          nan
...                        ...
15914                      nan
15915                 202201.0
15916                      nan
15917                      nan
15918                      nan

[15919 rows x 1 columns]

# Handling missing values

For non-numeric columns, find the most common value (before converting to dummies).

In [11]:
# Identify non-numeric columns
non_numeric_cols = scout_car.select_dtypes(exclude=[np.number]).columns

# Fill nulls in each non-numeric column using mode within each make_model group
for col in non_numeric_cols:
    scout_car[col] = scout_car.groupby('make_model')[col]\
                              .transform(lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else x))

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_95861/2522577465.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .transform(lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else x))
/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_95861/2522577465.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .transform(lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else x))
/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_95861/2522577465.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .transform(lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else x))

In [12]:
scout_car

,make_model,Body Type,Price,VAT,KM,Registration (YYYYMM),Horsepower (kW),Type,Previous Owners,Next Inspection (YYYYMM),...,Lane departure warning system,Night view assist,Passenger-side airbag,Power steering,Rear airbag,Side airbag,Tire pressure monitoring system,Traction control,Traffic sign recognition,Xenon headlights
0,Audi A1,Sedans,15770,VAT deductible,56013.0,201601.0,66.0,Used,2,202106.0,...,0,0,1,1,0,1,1,1,0,1
1,Audi A1,Sedans,14500,Price negotiable,80000.0,201703.0,141.0,Used,0,nan,...,0,0,1,1,0,1,1,1,0,1
2,Audi A1,Sedans,14640,VAT deductible,83450.0,201602.0,85.0,Used,1,nan,...,0,0,1,1,0,1,1,1,0,0
3,Audi A1,Sedans,14500,VAT deductible,73000.0,201608.0,66.0,Used,1,nan,...,0,0,1,1,0,1,1,0,0,0
4,Audi A1,Sedans,16790,VAT deductible,16200.0,201605.0,66.0,Used,1,nan,...,0,0,1,1,0,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,Renault Espace,Van,39950,VAT deductible,NaN,NaN,147.0,New,0,nan,...,1,0,1,1,1,1,1,1,1,0
15915,Renault Espace,Van,39885,VAT deductible,9900.0,201901.0,165.0,Used,1,202201.0,...,1,0,1,1,0,1,1,1,1,0
15916,Renault Espace,Van,39875,VAT deductible,15.0,201903.0,146.0,Pre-registered,1,nan,...,1,0,1,1,0,1,0,1,1,0
15917,Renault Espace,Van,39700,VAT deductible,10.0,201906.0,147.0,Pre-registered,0,nan,...,0,0,1,1,0,1,1,0,1,0
15918,Renault Espace,Van,40999,VAT deductible,NaN,201901.0,165.0,Demonstration,1,nan,...,0,0,1,1,0,1,1,0,1,0

In [13]:
scout_car[['Next Inspection (YYYYMM)']]

      Next Inspection (YYYYMM)
0                     202106.0
1                          nan
2                          nan
3                          nan
4                          nan
...                        ...
15914                      nan
15915                 202201.0
15916                      nan
15917                      nan
15918                      nan

[15919 rows x 1 columns]

For numeric columns, find the *median* value. Or maybe find the mean and force rounding in the case of integers.

In [14]:
# --- Fill numeric columns with mean per make_model ---
numeric_cols = scout_car.select_dtypes(include=[np.number]).columns

for col in numeric_cols:
    mean_filled = scout_car.groupby('make_model')[col]\
                           .transform(lambda x: x.fillna(x.median()))
    
    # If integer dtype, round and cast back
    if pd.api.types.is_integer_dtype(scout_car[col]):
        scout_car[col] = mean_filled.round().astype('Int64')  # Keeps nullable int type
    else:
        scout_car[col] = mean_filled

/opt/anaconda3/envs/IOD2/lib/python3.12/site-packages/numpy/lib/_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/opt/anaconda3/envs/IOD2/lib/python3.12/site-packages/numpy/lib/_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/opt/anaconda3/envs/IOD2/lib/python3.12/site-packages/numpy/lib/_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/opt/anaconda3/envs/IOD2/lib/python3.12/site-packages/numpy/lib/_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/opt/anaconda3/envs/IOD2/lib/python3.12/site-packages/numpy/lib/_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/opt/anaconda3/envs/IOD2/lib/python3.12/site-packages/numpy/lib/_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/opt/anaconda3/envs/IOD2/lib/python3.12/site-packages/numpy/lib/_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

# Fill numerics again?

In [15]:
# --- Fill numeric columns with mean per make_model ---
numeric_cols = scout_car.select_dtypes(include=[np.number]).columns

for col in numeric_cols:
    mean_filled = scout_car.groupby('make_model')[col]\
                           .transform(lambda x: x.fillna(x.mean()))
    
    # If integer dtype, round and cast back
    if pd.api.types.is_integer_dtype(scout_car[col]):
        scout_car[col] = mean_filled.round().astype('Int64')  # Keeps nullable int type
    else:
        scout_car[col] = mean_filled

In [19]:
scout_car.to_csv('Step 2 - Nulls filled v1.csv', index=False)

In [18]:
scout_car.to_csv('Validation csv 9.csv', index=False)